*{
  background-color: black;
}
.App {
  font-size: larger;
  text-align: center;
  color: rgb(148, 147, 147);
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.beautiful-div{
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: "column"; */
  /* justify-content: "center"; */
  /* align-items: "center"; */
}